<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Head resources</title>
    < th:>
    <!-- Favicon -->
    <link th:fragment="favicon" href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link th:fragment="googleFontOne" rel="preconnect" href="https://fonts.googleapis.com">
    <link th:fragment="googleFontTwo" rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link th:fragment="googleFontThree"
          href="https://fonts.googleapis.com/css2?family=Barlow:wght@600;700&family=Ubuntu:wght@400;500&display=swap"
          rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link th:fragment="iconsOne" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css"
          rel="stylesheet">
    <link th:fragment="iconsTwo" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css"
          rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link th:fragment="librariesStylesheetOne" href="../../static/lib/animate/animate.min.css"
          th:href="@{/lib/animate/animate.min.css}" rel="stylesheet">
    <link th:fragment="librariesStylesheetTwo" href="../../static/lib/owlcarousel/assets/owl.carousel.min.css"
          th:href="@{/lib/owlcarousel/assets/owl.carousel.min.css}" rel="stylesheet">
    <link th:fragment="librariesStylesheetThree"
          href="../../static/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css"
          th:href="@{/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css}" rel="stylesheet"/>

    <!-- Customized Bootstrap Stylesheet -->
    <link th:fragment="bootstrapStylesheet" href="../../static/css/bootstrap.min.css"
          th:href="@{/css/bootstrap.min.css}" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link th:fragment="templateStylesheet" href="../../static/css/style.css" th:href="@{/css/style.css}"
          rel="stylesheet">


</head>
<body>

</body>
</html>