<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Topbar</title>
</head>
<body>

<!-- Topbar Start -->
<div th:fragment="topbar" class="container-fluid bg-light p-0">
    <div class="row gx-0 d-none d-lg-flex">
        <div class="col-lg-7 px-5 text-start">
            <div class="h-100 d-inline-flex align-items-center py-3 me-4">
                <small class="fa fa-map-marker-alt text-primary me-2"></small>
                <small>255 Tsarigradsko shose blvd., Sofia, Bulgaria</small>
            </div>
            <div class="h-100 d-inline-flex align-items-center py-3">
                <small class="far fa-clock text-primary me-2"></small>
                <small>Mon - Fri : 09.00 AM - 19.00 PM</small>
            </div>
        </div>
        <div class="col-lg-5 px-5 text-end">
            <div class="h-100 d-inline-flex align-items-center py-3 me-4">
                <small class="fa fa-phone-alt text-primary me-2"></small>
                <small>+359 888 456789</small>
            </div>
            <div class="h-100 d-inline-flex align-items-center py-3 me-4">
                <small th:if="${isAuthenticated}" th:unless="${!session.role.equals('Customer')}"
                       th:text="'Welcome, ' + ${session.currentUser} + ' / ' + ${session.level} + ' level'">Welcome</small>
                <small th:if="${isAuthenticated}" th:unless="${!session.role.equals('Employee')}"
                       th:text="'Welcome, ' + ${session.currentUser}">Welcome</small>
                <small th:unless="${isAuthenticated}" th:text="'Welcome to FixMyCar!'"></small>
            </div>
        </div>
    </div>
</div>
<!-- Topbar End -->
</body>
</html>