<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Model Form Fragment</title>
</head>
<body>

<form th:fragment="model-form" action="#" th:action="@{__${#httpServletRequest.requestURI}__}" th:object="${model}"
      method="post">

    <label th:text="#{carmodel.label.name}">Model name</label>
    <br/>
    <input th:field="*{modelName}"/>
    <label class="error" th:errors="*{modelName}">Model name error placeholder</label>
    <br/><br/>

    <label th:text="#{car.label.make}">Make</label>
    <br/>
    <select th:field="*{makeId}">
        <option th:each="make : ${makes}"
                th:value="${make.getMakeId()}"
                th:text="${make.getMakeName()}">
            MakeStyleOne
        </option>
    </select>
    <label class="error" th:errors="*{makeId}">Make error placeholder</label>
    <br/><br/>

    <input class="btn btn-primary text-uppercase" type="submit" value="Save"/>
</form>

</body>
</html>