<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>User information</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link th:replace="/fragments/resources :: favicon"/>

    <!-- Google Web Fonts -->
    <link th:replace="/fragments/resources :: googleFontOne"/>
    <link th:replace="/fragments/resources :: googleFontTwo"/>
    <link th:replace="/fragments/resources :: googleFontThree"/>
    <!-- Icon Font Stylesheet -->
    <link th:replace="/fragments/resources :: iconsOne"/>
    <link th:replace="/fragments/resources :: iconsTwo"/>
    <!-- Libraries Stylesheet -->
    <link th:replace="/fragments/resources :: librariesStylesheetOne"/>
    <link th:replace="/fragments/resources :: librariesStylesheetTwo"/>
    <link th:replace="/fragments/resources :: librariesStylesheetThree"/>

    <!-- Customized Bootstrap Stylesheet -->
    <link th:replace="/fragments/resources :: bootstrapStylesheet"/>

    <!-- Template Stylesheet -->
    <link th:replace="/fragments/resources :: templateStylesheet"/>
</head>
<body>

<!-- Topbar Start -->
<div th:replace="/fragments/topbar :: topbar">Topbar fragment</div>
<!-- Topbar End -->


<!-- Navbar Start -->
<nav th:replace="/fragments/navbar :: navbar">Navbar fragment</nav>
<!-- Navbar End -->


<div class="row gx-lg-5 justify-content-center">
    <div class="col-md-10 col-lg-8 col-xl-7">
        </br>
        <h4 th:text="#{user.info}">User information</h4>

        <div class="telerik-table">
            <div class="telerik-header">
                <h6 class="telerik-cell" th:text="#{user.label.firstname}">First name</h6>
                <h6 class="telerik-cell" th:text="#{user.label.lastname}">Last name</h6>
                <h6 class="telerik-cell" th:text="#{user.label.phone}">Phone</h6>
                <h6 class="telerik-cell" th:text="#{user.label.email}">Email</h6>
                <h6 class="telerik-cell" th:text="#{user.label.username}">Username</h6>
                <h6 class="telerik-cell" th:text="#{user.label.role}">Role</h6>
                <h6 class="telerik-cell" th:text="#{user.label.level}">Level</h6>
                <h6 class="telerik-cell" th:text="#{user.label.discount}">Discount</h6>
            </div>

            <div class="telerik-row">
                <h6 class="telerik-cell" th:text="${user.firstName}">First name</h6>
                <h6 class="telerik-cell" th:text="${user.lastName}">Last name</h6>
                <h6 class="telerik-cell" th:text="${user.phone}">Phone</h6>
                <h6 class="telerik-cell" th:text="${user.email}">Email</h6>
                <h6 class="telerik-cell" th:text="${user.username}">Username</h6>
                <h6 class="telerik-cell" th:text="${user.role.roleName}">Role</h6>
                <h6 class="telerik-cell" th:text="${user.level.name}">Level</h6>
                <h6 class="telerik-cell" th:text="${user.level.getDiscount()} + '%'">Discount</h6>
            </div>
        </div>
        </br>
        <a class="btn btn-primary text-uppercase" th:unless="${!isEmployee}" href="#"
           th:href="@{/users/{userId}/update(userId = ${user.userId})}">Update</a>
        <a class="btn btn-primary text-uppercase" th:unless="${!isEmployee}" href="#"
           th:href="@{/users/{userId}/delete(userId = ${user.userId})}">Delete</a>
        <a class="btn btn-primary text-uppercase" th:if="${user.getRole().getRoleId()==1}" th:unless="${!isEmployee}"
           href="#" th:href="@{/users/{userId}/cars/new(userId = ${user.userId})}">Add car</a>
        <a th:if="${currentUserId == user.userId}" class="btn btn-primary text-uppercase" href="#"
           th:href="@{/users/{userId}/password(userId = ${user.userId})}">Change Password</a>
        </br></br></br>

        <h4 th:text="#{user.cars}">Cars</h4>

        <div class="telerik-table">
            <div class="telerik-header">
                <h6 class="telerik-cell" th:text="#{car.label.license-plate}">License plate</h6>
                <h6 class="telerik-cell" th:text="#{car.label.vin}">VIN</h6>
                <h6 class="telerik-cell" th:text="#{car.label.year}">Year</h6>
                <h6 class="telerik-cell" th:text="#{car.label.make}">Make</h6>
                <h6 class="telerik-cell" th:text="#{car.label.carModel}">Model</h6>
                <h6 class="telerik-cell" th:text="#{table.action}">Test action</h6>
            </div>
            <div class="telerik-row" th:each="car : ${car}">
                <h6 class="telerik-cell" th:text="${car.licensePlate}">License plate</h6>
                <h6 class="telerik-cell" th:text="${car.vin}">VIN</h6>
                <h6 class="telerik-cell" th:text="${car.year}">Year</h6>
                <h6 class="telerik-cell" th:text="${car.carModel.make.makeName}">Make</h6>
                <h6 class="telerik-cell" th:text="${car.carModel.modelName}">Model</h6>
                <h6 class="telerik-cell">
                    <button type="button"><a href="#" th:href="@{'/users/' + ${userId} + '/cars/' + ${car.getCarId()}}">Details</a>
                    </button>
                </h6>
            </div>
        </div>
        </br></br>
    </div>


    <!-- Footer Start -->
    <div th:replace="/fragments/footer :: footer">Footer fragment</div>
    <!-- Footer End -->


    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>

    <!--Javascript-->
    <div th:replace="/fragments/scripts :: scripts">JavaScript scripts</div>
</div>
</body>
</html>