<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Delete user</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link th:replace="/fragments/resources :: favicon"/>

    <!-- Google Web Fonts -->
    <link th:replace="/fragments/resources :: googleFontOne"/>
    <link th:replace="/fragments/resources :: googleFontTwo"/>
    <link th:replace="/fragments/resources :: googleFontThree"/>
    <!-- Icon Font Stylesheet -->
    <link th:replace="/fragments/resources :: iconsOne"/>
    <link th:replace="/fragments/resources :: iconsTwo"/>
    <!-- Libraries Stylesheet -->
    <link th:replace="/fragments/resources :: librariesStylesheetOne"/>
    <link th:replace="/fragments/resources :: librariesStylesheetTwo"/>
    <link th:replace="/fragments/resources :: librariesStylesheetThree"/>

    <!-- Customized Bootstrap Stylesheet -->
    <link th:replace="/fragments/resources :: bootstrapStylesheet"/>

    <!-- Template Stylesheet -->
    <link th:replace="/fragments/resources :: templateStylesheet"/>
</head>
<body>

<!-- Topbar Start -->
<div th:replace="/fragments/topbar :: topbar">Topbar fragment</div>
<!-- Topbar End -->


<!-- Navbar Start -->
<nav th:replace="/fragments/navbar :: navbar">Navbar fragment</nav>
<!-- Navbar End -->


<div class="row gx-lg-5 justify-content-center">
    <div class="col-md-10 col-lg-8 col-xl-7">
        </br></br></br>
        <h2>If you delete this user, you will delete the information about his cars, car visits and visits history.</h2>
        </br>
        <h2>Аre you sure you want to delete this user?</h2>
        </br>
        <form action="#" th:action="@{__${#httpServletRequest.requestURI}__}" th:object="${userId}" method="post">
            <input class="btn btn-primary text-uppercase" type="submit" value="Delete"/>
            <a class="btn btn-primary text-uppercase" href="#"
               th:href="@{/users/{userId}(userId = ${userId})}" th:text="#{navigation.one-users}">Return</a>
        </form>
        </br></br></br></br></br>
    </div>
</div>


<!-- Footer Start -->
<div th:replace="/fragments/footer :: footer">Footer fragment</div>
<!-- Footer End -->


<!-- Back to Top -->
<a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>

<!--Javascript-->
<div th:replace="/fragments/scripts :: scripts">JavaScript scripts</div>

</body>
</html>