<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>All users</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link th:replace="/fragments/resources :: favicon"/>

    <!-- Google Web Fonts -->
    <link th:replace="/fragments/resources :: googleFontOne"/>
    <link th:replace="/fragments/resources :: googleFontTwo"/>
    <link th:replace="/fragments/resources :: googleFontThree"/>
    <!-- Icon Font Stylesheet -->
    <link th:replace="/fragments/resources :: iconsOne"/>
    <link th:replace="/fragments/resources :: iconsTwo"/>
    <!-- Libraries Stylesheet -->
    <link th:replace="/fragments/resources :: librariesStylesheetOne"/>
    <link th:replace="/fragments/resources :: librariesStylesheetTwo"/>
    <link th:replace="/fragments/resources :: librariesStylesheetThree"/>

    <!-- Customized Bootstrap Stylesheet -->
    <link th:replace="/fragments/resources :: bootstrapStylesheet"/>

    <!-- Template Stylesheet -->
    <link th:replace="/fragments/resources :: templateStylesheet"/>

</head>
<body>

<!-- Topbar Start -->
<div th:replace="/fragments/topbar :: topbar">Topbar fragment</div>
<!-- Topbar End -->


<!-- Navbar Start -->
<nav th:replace="/fragments/navbar :: navbar">Navbar fragment</nav>
<!-- Navbar End -->


<div class="row gx-lg-5 justify-content-center">
    <div class="col-md-10 col-lg-8 col-xl-7">
        </br>
        <h4 th:text="#{users.title}">All Users</h4>
        <a class="btn btn-primary text-uppercase" href="#" th:href="@{/users/new}">Add user</a>
        </br></br>
        <form action="#" th:action="@{/users}" method="get" th:object="${filter}">
            <label th:text="#{filter.options}">Filter Options</label>
            </br>
            <input type="text" placeholder="first name" th:field="*{firstName}"/>
            <input type="text" placeholder="last name" th:field="*{lastName}"/>
            <input type="text" placeholder="phone" th:field="*{phone}"/>
            </br>
            <input type="text" placeholder="email" th:field="*{email}"/>
            <input type="text" placeholder="username" th:field="*{username}"/>
            <input type="text" placeholder="license plate" th:field="*{licensePlate}"/>
            </br>
            <input type="text" placeholder="vin" th:field="*{vin}"/>
            <input type="text" placeholder="make name" th:field="*{makeName}"/>
            <input type="text" placeholder="carModel name" th:field="*{modelName}"/>
            </br>
            <select th:field="*{roleId}">
                <option value="">Role</option>
                <option th:each="role : ${roles}"
                        th:value="${role.getRoleId()}"
                        th:text="${role.getRoleName()}">
                    Role
                </option>
            </select>
            <input type="date" placeholder="date" th:field="*{startDate}" lang="en"/>
            <input type="date" placeholder="date" th:field="*{endDate}" lang="en"/>

            </br>

            <select th:field="*{sortBy}">
                <option value="">Sort By</option>
                <option value="firstName">First name</option>
                <option value="lastName">Last name</option>
                <option value="phone">Phone</option>
                <option value="email">Email</option>
                <option value="username">Username</option>
                <option value="date">Visit date</option>
            </select>
            <select th:field="*{orderBy}">
                <option value="">Order By</option>
                <option value="asc">Ascending</option>
                <option value="desc">Descending</option>
            </select>
            </br></br>

            <input class="btn btn-primary text-uppercase" type="submit" value="Search"/>
            </br></br>
        </form>

        <div class="telerik-table">
            <div class="telerik-header">
                <h6 class="telerik-cell" th:text="#{user.label.firstname}">First name</h6>
                <h6 class="telerik-cell" th:text="#{user.label.lastname}">Last name</h6>
                <h6 class="telerik-cell" th:text="#{user.label.phone}">Phone</h6>
                <h6 class="telerik-cell" th:text="#{user.label.email}">Email</h6>
                <h6 class="telerik-cell" th:text="#{user.label.username}">Username</h6>
                <h6 class="telerik-cell" th:text="#{user.label.role}">Role</h6>
                <h6 class="telerik-cell" th:text="#{user.label.level}">Level</h6>
                <h6 class="telerik-cell" th:text="#{table.action}">Test action</h6>
            </div>
            <div class="telerik-row" th:each="user : ${userList}">
                <h6 class="telerik-cell" th:text="${user.firstName}">First name</h6>
                <h6 class="telerik-cell" th:text="${user.lastName}">Last name</h6>
                <h6 class="telerik-cell" th:text="${user.phone}">Phone</h6>
                <h6 class="telerik-cell" th:text="${user.email}">Email</h6>
                <h6 class="telerik-cell" th:text="${user.username}">Username</h6>
                <h6 class="telerik-cell" th:text="${user.role.roleName}">Role</h6>
                <h6 class="telerik-cell" th:text="${user.level.name}">Level</h6>
                <h6 class="telerik-cell">
                    <button type="button"><a href="#" th:href="@{/users/{userId}(userId = ${user.userId})}">Details</a>
                    </button>
                </h6>
            </div>
        </div>

    </div>
</div>


<!-- Footer Start -->
<div th:replace="/fragments/footer :: footer">Footer fragment</div>
<!-- Footer End -->


<!-- Back to Top -->
<a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>

<!--Javascript-->
<div th:replace="/fragments/scripts :: scripts">JavaScript scripts</div>

</body>
</html>