<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Form Fragment</title>
</head>
<body>

<form th:fragment="user-form" action="#" th:action="@{__${#httpServletRequest.requestURI}__}" th:object="${user}"
      method="post">

    <label th:text="#{user.label.firstname}">First Name</label>
    <br/>
    <input th:field="*{firstName}"/>
    <label class="error" th:errors="*{firstName}">First Name error placeholder</label>
    <br/><br/>

    <label th:text="#{user.label.lastname}">Last Name</label>
    <br/>
    <input th:field="*{lastName}"/>
    <label class="error" th:errors="*{lastName}">Last Name error placeholder</label>
    <br/><br/>

    <label th:text="#{user.label.phone}">Phone</label>
    <br/>
    <input th:field="*{phone}"/>
    <label class="error" th:errors="*{phone}">Phone error placeholder</label>
    <br/><br/>

    <label th:text="#{user.label.email}">Email</label>
    <br/>
    <input th:field="*{email}"/>
    <label class="error" th:errors="*{email}">Email error placeholder</label>
    <br/><br/>

    <label th:text="#{user.label.level}">Level</label>
    <br/>
    <select th:field="*{levelId}">
        <option th:each="level : ${levels}"
                th:value="${level.getLevelId()}"
                th:text="${level.getName()}">
            LevelStyleOne
        </option>
    </select>
    <label class="error" th:errors="*{levelId}">Level error placeholder</label>
    <br/><br/>

    <label th:text="#{user.label.role}">Role</label>
    <br/>
    <select th:field="*{roleId}">
        <option th:each="role : ${roles}"
                th:value="${role.getRoleId()}"
                th:text="${role.getRoleName()}">
            RoleStyleOne
        </option>
    </select>
    <label class="error" th:errors="*{roleId}">Role error placeholder</label>
    <br/><br/>

    <input class="btn btn-primary text-uppercase" type="submit" value="Save"/>
</form>

</body>
</html>