<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Visit report</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link th:replace="/fragments/resources :: favicon"/>

    <!-- Google Web Fonts -->
    <link th:replace="/fragments/resources :: googleFontOne"/>
    <link th:replace="/fragments/resources :: googleFontTwo"/>
    <link th:replace="/fragments/resources :: googleFontThree"/>
    <!-- Icon Font Stylesheet -->
    <link th:replace="/fragments/resources :: iconsOne"/>
    <link th:replace="/fragments/resources :: iconsTwo"/>
    <!-- Libraries Stylesheet -->
    <link th:replace="/fragments/resources :: librariesStylesheetOne"/>
    <link th:replace="/fragments/resources :: librariesStylesheetTwo"/>
    <link th:replace="/fragments/resources :: librariesStylesheetThree"/>

    <!-- Customized Bootstrap Stylesheet -->
    <link th:replace="/fragments/resources :: bootstrapStylesheet"/>

    <!-- Template Stylesheet -->
    <link th:replace="/fragments/resources :: templateStylesheet"/>
</head>
<body>

<!-- Topbar Start -->
<div th:replace="/fragments/topbar :: topbar">Topbar fragment</div>
<!-- Topbar End -->


<!-- Navbar Start -->
<nav th:replace="/fragments/navbar :: navbar">Navbar fragment</nav>
<!-- Navbar End -->


<div class="row gx-lg-5 justify-content-center">
    <div class="col-md-10 col-lg-8 col-xl-7">

        <br/><br/>
        <h2 th:text="#{visit.info}">Visit report</h2>

        <h3 th:text="#{customer.info}">User info</h3>
        <div class="telerik-table">
            <div class="telerik-header">
                <h6 class="telerik-cell" th:text="#{user.label.firstname}">First name</h6>
                <h6 class="telerik-cell" th:text="#{user.label.lastname}">Last name</h6>
                <h6 class="telerik-cell" th:text="#{user.label.phone}">Phone</h6>
                <h6 class="telerik-cell" th:text="#{user.label.email}">Email</h6>
                <h6 class="telerik-cell" th:text="#{user.label.username}">Username</h6>
                <h6 class="telerik-cell" th:text="#{user.label.level}">Level</h6>
                <h6 class="telerik-cell" th:text="#{user.label.discount}">Discount</h6>
            </div>

            <div class="telerik-row">
                <h6 class="telerik-cell" th:text="${customer.firstName}">First name</h6>
                <h6 class="telerik-cell" th:text="${customer.lastName}">Last name</h6>
                <h6 class="telerik-cell" th:text="${customer.phone}">Phone</h6>
                <h6 class="telerik-cell" th:text="${customer.email}">Email</h6>
                <h6 class="telerik-cell" th:text="${customer.username}">Username</h6>
                <h6 class="telerik-cell" th:text="${customer.level.name}">Level</h6>
                <h6 class="telerik-cell" th:text="${customer.level.getDiscount()} + '%'">Discount</h6>
            </div>
        </div>


        <br/><br/>
        <h3 th:text="#{visit.car}">Car</h3>
        <div class="telerik-table">
            <div class="telerik-header">
                <h6 class="telerik-cell" th:text="#{car.label.license-plate}">License plate</h6>
                <h6 class="telerik-cell" th:text="#{car.label.vin}">VIN</h6>
                <h6 class="telerik-cell" th:text="#{car.label.year}">Year</h6>
                <h6 class="telerik-cell" th:text="#{car.label.make}">Make</h6>
                <h6 class="telerik-cell" th:text="#{car.label.model}">Model</h6>
            </div>
            <div class="telerik-row">
                <h6 class="telerik-cell" th:text="${car.licensePlate}">License plate</h6>
                <h6 class="telerik-cell" th:text="${car.vin}">VIN</h6>
                <h6 class="telerik-cell" th:text="${car.year}">Year</h6>
                <h6 class="telerik-cell" th:text="${car.carModel.make.makeName}">Make</h6>
                <h6 class="telerik-cell" th:text="${car.carModel.modelName}">Model</h6>
            </div>
        </div>


        <br/><br/>
        <h3 th:text="#{repairs.title}">Repairs</h3>
        <div class="telerik-table">
            <div class="telerik-header">
                <h6 class="telerik-cell" th:text="#{repair.label.name}">Repair name</h6>
                <h6 class="telerik-cell" th:text="#{repair.label.price}">Price</h6>
            </div>
            <div class="telerik-row" th:each="repair : ${visitDtoOut.getRepairs()}">
                <h6 class="telerik-cell" th:text="${repair.getKey()}">Repair name</h6>
                <h6 class="telerik-cell" th:text="${repair.getValue()}">Price</h6>
            </div>
        </div>

        <br/><br/>
        <h3 th:text="#{visit.label.total}">Total</h3>
        <div class="telerik-table">
            <div class="telerik-header">
                <h6 class="telerik-cell" th:text="#{visit.total-price}">Total price</h6>
                <h6 class="telerik-cell" th:text="#{visit.label.currency}">Currency</h6>
            </div>
            <div class="telerik-row">
                <h6 class="telerik-cell" th:text="${visitDtoOut.getTotalPrice()}">Total price</h6>
                <h6 class="telerik-cell" th:text="${visitDtoOut.getCurrency()}">Currency</h6>
            </div>
        </div>


        <br/><br/>
        <h3 th:text="#{visit.label.status}">Status</h3>
        <div class="telerik-table">
            <div class="telerik-header">
                <h6 class="telerik-cell" th:text="#{visit.label.status}">Status</h6>
            </div>
            <div class="telerik-row">
                <h6 class="telerik-cell" th:text="${visitDtoOut.getStatusName()}">Status</h6>
            </div>
        </div>

        <br/><br/>
        <a th:if="${isEmployee}" th:unless="${visitDtoOut.getStatusId()==4 or visitDtoOut.getStatusId()==5}"
           class="btn btn-primary text-uppercase"
           href="#" th:href="@{/visits/{visitId}/update(visitId = ${visitId})}">Update</a>
        <a th:if="${isEmployee}" th:unless="${visitDtoOut.getStatusId()==4 or visitDtoOut.getStatusId()==5}"
           class="btn btn-primary text-uppercase"
           href="#" th:href="@{/visits/{visitId}/delete(visitId = ${visitId})}">Delete</a>
        <a th:if="${isEmployee}" th:unless="${visitDtoOut.getStatusId()==4 or visitDtoOut.getStatusId()==5}"
           class="btn btn-primary text-uppercase"
           href="#" th:href="@{/visits/{visitId}/status(visitId = ${visitId})}">Change status</a>
        <a class="btn btn-primary text-uppercase"
           href="#" th:href="@{/visits/{visitId}/currency(visitId = ${visitId})}">Change currency</a>
        <a class="btn btn-primary text-uppercase"
           href="#" th:href="@{'/visits/' + ${visitId} + '/pdf?currency=' + ${visitDtoOut.getCurrency()}}">Generate
            PDF</a>

    </div>
</div>
<!-- Footer Start -->
<div th:replace="/fragments/footer :: footer">Footer fragment</div>
<!-- Footer End -->


<!-- Back to Top -->
<a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>

<!--Javascript-->
<div th:replace="/fragments/scripts :: scripts">JavaScript scripts</div>

</body>
</html>