<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Create visit</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link th:replace="/fragments/resources :: favicon"/>

    <!-- Google Web Fonts -->
    <link th:replace="/fragments/resources :: googleFontOne"/>
    <link th:replace="/fragments/resources :: googleFontTwo"/>
    <link th:replace="/fragments/resources :: googleFontThree"/>
    <!-- Icon Font Stylesheet -->
    <link th:replace="/fragments/resources :: iconsOne"/>
    <link th:replace="/fragments/resources :: iconsTwo"/>
    <!-- Libraries Stylesheet -->
    <link th:replace="/fragments/resources :: librariesStylesheetOne"/>
    <link th:replace="/fragments/resources :: librariesStylesheetTwo"/>
    <link th:replace="/fragments/resources :: librariesStylesheetThree"/>

    <!-- Customized Bootstrap Stylesheet -->
    <link th:replace="/fragments/resources :: bootstrapStylesheet"/>

    <!-- Template Stylesheet -->
    <link th:replace="/fragments/resources :: templateStylesheet"/>
</head>
<body>

<!-- Topbar Start -->
<div th:replace="/fragments/topbar :: topbar">Topbar fragment</div>
<!-- Topbar End -->


<!-- Navbar Start -->
<nav th:replace="/fragments/navbar :: navbar">Navbar fragment</nav>
<!-- Navbar End -->


<div class="row gx-lg-5 justify-content-center">
    <div class="col-md-10 col-lg-8 col-xl-7">
        <br/><br/>
        <h2 th:text="#{navigation.update-visit}">Update visit</h2>

        <br/><br/>
        <h4 th:text="#{visit.car}">Car</h4>
        <div class="telerik-table">
            <div class="telerik-header">
                <h6 class="telerik-cell" th:text="#{car.label.license-plate}">License plate</h6>
                <h6 class="telerik-cell" th:text="#{car.label.vin}">VIN</h6>
                <h6 class="telerik-cell" th:text="#{car.label.year}">Year</h6>
                <h6 class="telerik-cell" th:text="#{car.label.make}">Make</h6>
                <h6 class="telerik-cell" th:text="#{car.label.model}">Model</h6>
            </div>
            <div class="telerik-row">
                <h6 class="telerik-cell" th:text="${car.licensePlate}">License plate</h6>
                <h6 class="telerik-cell" th:text="${car.vin}">VIN</h6>
                <h6 class="telerik-cell" th:text="${car.year}">Year</h6>
                <h6 class="telerik-cell" th:text="${car.carModel.make.makeName}">Make</h6>
                <h6 class="telerik-cell" th:text="${car.carModel.modelName}">Model</h6>
            </div>
        </div>


        <br/><br/>

        <form action="#" th:action="@{__${#httpServletRequest.requestURI}__}" method="get" th:object="${filter}">
            <label th:text="#{filter.options}">Filter Options</label>
            </br>
            <input type="text" placeholder="Repair name" th:field="*{name}"/>
            <input type="number" min="0" max="1000" step="10" placeholder="0" th:field="*{minPrice}"/>
            <input type="number" min="0" max="1000" step="10" placeholder="1000" th:field="*{maxPrice}"/>
            <label>Active?</label>
            <select th:field="*{active}">
                <option value="true">YES</option>
                <option value="false">NO</option>
            </select>
            </br>

            <select th:field="*{sortBy}">
                <option value="">Sort By</option>
                <option value="name">Name</option>
                <option value="price">Price</option>
                <option value="active">active/not active</option>
            </select>
            <select th:field="*{sortOrder}">
                <option value="">Order By</option>
                <option value="asc">Ascending</option>
                <option value="desc">Descending</option>
            </select>
            </br></br>

            <input class="btn btn-primary text-uppercase" type="submit" value="Search"/>
            </br></br>
        </form>


        <form action="#" th:action="@{__${#httpServletRequest.requestURI}__}" method="post">

            <h4 th:text="#{visit.repairs}">Repairs</h4>
            <div class="telerik-table">
                <div class="telerik-header">
                    <h6 class="telerik-cell" th:text="#{repair.label.add}">Test action</h6>
                    <h6 class="telerik-cell" th:text="#{repair.label.name}">Repair name</h6>
                    <h6 class="telerik-cell" th:text="#{repair.label.price}">price</h6>
                    <h6 class="telerik-cell" th:text="#{repair.label.active}">IsActive</h6>
                    <h6 class="telerik-cell" th:text="#{table.action}">Test action</h6>
                    <!--        <h6 class="telerik-cell" th:text="#{repair.label.added}">Repair added</h6>-->
                </div>
                <div class="telerik-row" th:each="repair : ${repairs}">
                    <input th:checked="${addedRepairs.get(repair.getRepairId())}" name="selectedRepairs"
                           th:value="${repair.getName()} " type="checkbox" id="repair1" class="telerik-cell">
                    <label for="repair1" class="telerik-cell" th:text="${repair.getName()}">Repair name</label>
                    <h6 class="telerik-cell" th:text="${repair.getPrice()}">Price</h6>
                    <h6 class="telerik-cell" th:text="${repair.isActive()}">IsActive</h6>
                    <h6 class="telerik-cell">
                        <button th:unless="${repair.isActive()}" type="button"><a href="#"
                                                                                  th:href="@{/repairs/{repairId}/activate(repairId = ${repair.getRepairId()})}">Activate</a>
                        </button>
                    </h6>
                </div>
            </div>
            </br></br>

            <button class="btn btn-primary text-uppercase" type="submit">Submit</button>

        </form>
    </div>

    <!-- Footer Start -->
    <div th:replace="/fragments/footer :: footer">Footer fragment</div>
    <!-- Footer End -->


    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>

    <!--Javascript-->
    <div th:replace="/fragments/scripts :: scripts">JavaScript scripts</div>

</body>
</html>