<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>History</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link th:replace="/fragments/resources :: favicon"/>

    <!-- Google Web Fonts -->
    <link th:replace="/fragments/resources :: googleFontOne"/>
    <link th:replace="/fragments/resources :: googleFontTwo"/>
    <link th:replace="/fragments/resources :: googleFontThree"/>
    <!-- Icon Font Stylesheet -->
    <link th:replace="/fragments/resources :: iconsOne"/>
    <link th:replace="/fragments/resources :: iconsTwo"/>
    <!-- Libraries Stylesheet -->
    <link th:replace="/fragments/resources :: librariesStylesheetOne"/>
    <link th:replace="/fragments/resources :: librariesStylesheetTwo"/>
    <link th:replace="/fragments/resources :: librariesStylesheetThree"/>

    <!-- Customized Bootstrap Stylesheet -->
    <link th:replace="/fragments/resources :: bootstrapStylesheet"/>

    <!-- Template Stylesheet -->
    <link th:replace="/fragments/resources :: templateStylesheet"/>
</head>
<body>

<!-- Topbar Start -->
<div th:replace="/fragments/topbar :: topbar">Topbar fragment</div>
<!-- Topbar End -->


<!-- Navbar Start -->
<nav th:replace="/fragments/navbar :: navbar">Navbar fragment</nav>
<!-- Navbar End -->


<div class="row gx-lg-5 justify-content-center">
    <div class="col-md-10 col-lg-8 col-xl-7">
        </br></br>
        <h4 th:text="#{visits.history.title}">All VisitsHistory</h4>

        <form action="#" th:action="@{/visits-history}" method="get" th:object="${filter}">
            <label th:text="#{filter.options}">Filter Options</label>
            </br>
            <input type="text" placeholder="username" th:field="*{username}"/>
            <input type="text" placeholder="license plate" th:field="*{licensePlate}"/>
            <input type="text" placeholder="repair name" th:field="*{repairName}"/>
            <input type="date" placeholder="date" th:field="*{visitDate}" lang="en"/>
            </br>

            <select th:field="*{sortBy}">
                <option value="">Sort By</option>
                <option value="username">Username</option>
                <option value="license plate">License plate</option>
                <option value="date">Date</option>
                <option value="repair name">Repair name</option>
            </select>
            <select th:field="*{sortOrder}">
                <option value="">Order By</option>
                <option value="asc">Ascending</option>
                <option value="desc">Descending</option>
            </select>
            </br></br>

            <input class="btn btn-primary text-uppercase" type="submit" value="Search"/>
            </br></br>
        </form>

        <div class="telerik-table">
            <div class="telerik-header">
                <h6 class="telerik-cell" th:text="#{user.label.username}">Username</h6>
                <h6 class="telerik-cell" th:text="#{car.label.license-plate}">License plate</h6>
                <h6 class="telerik-cell" th:text="#{repair.label.name}">Repair name</h6>
                <h6 class="telerik-cell" th:text="#{visit.label.date}">Date</h6>
            </div>
            <div class="telerik-row" th:each="vh : ${history}">
                <h6 class="telerik-cell" th:text="${vh.getUsername()}">Customer name</h6>
                <h6 class="telerik-cell" th:text="${vh.getCarLicensePlate()}">License plate</h6>
                <h6 class="telerik-cell" th:text="${vh.getRepair()}">Repair name</h6>
                <h6 class="telerik-cell" th:text="${vh.getDate()}">Date</h6>
            </div>
        </div>


    </div>
</div>


<!-- Footer Start -->
<div th:replace="/fragments/footer :: footer">Footer fragment</div>
<!-- Footer End -->


<!-- Back to Top -->
<a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>

<!--Javascript-->
<div th:replace="/fragments/scripts :: scripts">JavaScript scripts</div>

</body>
</html>